html{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body{
	background-color: #f8f8f8;
	display: flex;
	flex: auto;
	flex-direction: column;
}
.container{
	font-family: 'Open Sans', sans-serif;
	width: 1200px;
	margin:0 auto;
	flex: auto;
	display: flex;
	flex-direction: column;
}
.header{
	background-color: #79BBDC;
	height: 120px;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	border-bottom: 1.5px solid #162899;
	position: relative;
	bottom: 18px;
}

.mycompany{
	text-transform: uppercase;
	height: 1.5em;
	position: relative;
	top: 23px;
	left: -120px;
	font-weight: bold;
	color: #B5192A;
	font-size: 20px;

}
.current{
	border-bottom: 2px solid #B5192A
}
.logo{
	height: 90px;
	width: 90px;
	background-color: transparent;
	position: relative;
	left: 35px;
	top: 20px;
}
.logo_img{
	height: 90px;
	width: 90px;
}
.navbar{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	right: 15px;
}
.nav{
	list-style-type: none;
	padding: 0;
	position: relative;
	top:18px;
	display: flex;	
}
.nav_str{
	padding: 7px;
}
.nav_link{
	text-decoration: none;
	color: #B5192A;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
.nav_link:hover{
	border-bottom: 2px solid yellow;
	color: yellow;
}
.str{
	height: 2px;
	width: 70px;
	background-color: yellow;
	position: relative;
	top: 55px;
	right: 38%;
}
.main{
	margin-top: -18px;
	background-color: #E4EC93;
	border-radius: 10px;
	padding-left: 10px;
	font-size: 14px;
	color: #2F4F4F;
	padding-bottom: 20px;
	flex: auto;
}
.h3{
	background-color: #79BBDC;
	position: relative;
	top: -10px;
	margin-right: 5px;
	margin-bottom: -10px;
	border-radius: 10px;
	padding: 4px;
	color: #B5192A;
	font-size: 18px;
}
.link{
	text-decoration: none;
	color: #4F4848;
	font-weight: 600;
}
.link:hover {
	color: #B5192A;
	text-decoration: underline;
}
.catalog_link{
	text-decoration: none;
	color: #4F4848;
	font-weight: 600;
}
.catalog_link:hover{
	color: #B5192A;
}
.button{
	height: 30px;
	border-radius: 10px;
	background-color: #79BBDC;
	color: #B5192A;
	font-weight: bold;
	text-decoration: none;
}
.img:hover .catalog_text{
	color: #79BBDC;
	background-color: white;
	border-radius: 5px;
	font-size: 12px;
	padding: 3px;
}
.input:focus{
	outline: 2px solid #B5192A;
}
.catalog_img{
	border: 1px solid #79BBDC;
	height: 100px;
	border-radius: 5px;
}
.container_img{
	margin-top: -30px;
	display: flex;
}
.img{
	padding: 7px;
}
.catalog_text{
	position: relative;
	top:100px;
	color: transparent;
	font-size: 1em;
}
.short{
	color: #707070;
	font-size: 15px;
	font-style: italic;
	line-height: 16px;
}
.long{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.catalog_th{
	text-align: left;
	padding-left: 5%;
}
.container_img{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #79BBDC;
	height: 25px;
	border-radius: 10px;
	border-top: 1.5px solid #162899;
	display: flex;
	align-items: flex-end;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #B5192A;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	top:-13px;	
}